// Default layout style. could be removed or changed in further
// No script message
.no-script-msg {
  position: fixed;
  top: 0;
  padding: 7px;
  width: 100%;
  font-size: 13px;
  background: #f9e03b;
  text-align: center;
}

// Set base font
body {
  min-height: 100vh;
  min-width: 320px;
  font-family: $main-font;
  font-size: $mob-base-font+px;
  line-height: 1.3;
}

main {
  min-height: calc(100vh - 184px);
}

a {
  text-decoration: none;
  transition: .2s ease;

  &:hover {
    //color: $link-hover-clr;
  }
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

// Custom general layout style for all pages in project
.container {
  max-width: 100%;
  padding: 0 65px;
}