.footer {
  position: relative;
  color: $txt-main;
}

// Social
.social-block {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px 15px;
  position: fixed;
  bottom: 40px;
  right: 65px;

  @include media(min, $md) {
    flex-direction: row;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    color: inherit;

    @include media(min, $lg) {
      &:hover {
        color: $second-clr;
      }
    }
  }
}
