.footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 1;
  color: $txt-main;

  @include media(min, $lg) {
    bottom: 40px;
  }
}

// Social
.social-block {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px 15px;

  @include media(min, $md) {
    flex-direction: row;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: inherit;

    @include media(min, $lg) {
      width: 45px;
      height: 45px;

      &:hover {
        color: $second-clr;
      }
    }
  }
}
