// Custom header style
.header {
  position: fixed;
  top: 0;
  z-index: 2;
  padding-top: 53px;
  width: 100%;

  &__logo {
    display: flex;
    justify-content: flex-end;
    color: $logo-clr;
  }
}
