// Default menu navigation style
.menu-item {
  position: relative;

  &:hover {
    & > .submenu {
      visibility: visible;
    }
  }
}

.submenu-icon {
  position: absolute;
  top: 0;
  right: 0;

  &:before {
    content: '+';
    color: #13a525;
  }
}

.submenu {
  position: absolute;
  left: 0;
  width: 200px;
  background: #dadada;
  text-align: left;
  visibility: hidden;
}
