// Montserrat
@font-face {
  font-family: 'Noir Pro';
  src: url('../fonts/noirpro/NoirPro-Light.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noir Pro';
  src: url('/fonts/noirpro/NoirPro-BoldItalic.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
