// Fonts
// ------- Default font -------
$sans: 'Helvetica', 'Verdana', 'Arial', sans-serif;

// ------- Custom fonts -------
$main-font: 'Noir Pro', $sans;

// Fonts sizes
$mob-base-font: 20;

// Fonts weight
$light: 300;
$bold: 700;

// Breakpoints
$xs: 375;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;
$xxl: 1400;

//Colors
$main-clr: #727272;
$second-clr: #f36a1d;

$txt-title: #393939;
$txt-main: #727272;
$txt-bg: #fff;

$bg: #393939;

$logo-clr: #6f6f6f;
