//- Use mixin "menu" to add footer menu if needed. Example: +menu(footerMenu, 'footer-menu'). Where:
//- +menu - mixin's name,
//- footerMenu - footer menu variables name. Can be found and changed in variables file
//- 'footer-menu' - custom class. Can accept many classes like 'class-1 class-2 class-3'
footer
  p Footer
