//- Use mixin "menu" to add header menu if needed. Example: +menu(headerMenu, 'header-menu'). Where:
//- +menu - mixin's name,
//- headerMenu - header menu variables name. Can be found and changed in variables file
//- 'header-menu' - custom class. Can accept many classes like 'class-1 class-2 class-3'
header
  p Header
