//- Use mixin "menu" to add sidebar menu if needed. Example: +menu(sidebarMenu, 'sidebar-menu'). Where:
//- +menu - mixin's name,
//- sidebarMenu - sidebar menu variables name. Can be found and changed in variables file
//- 'sidebar-menu' - custom class. Can accept many classes like 'class-1 class-2 class-3'
aside.sidebar
  +menu(sidebarMenu, 'sidebar-menu')
