//- Include help files. Could be removed if useless
include help_files/_variables
include help_files/_mixins

//- Main document
doctype html
html(lang='en')
  include meta_files/_head
  body
    include components/base/_header
    .container.is-sidebar
      // Sidebar
      include components/base/_sidebar
      // Main content
      main(role="main")
        //- Custom components
    include components/base/_footer
    include meta_files/_footer_scripts
