//- Header menu
//- Add more header menu, menu items or submenu if needed
-
  var headerMenu = [
    {
      title: 'menu-item',
      url: '/'
    },
    {
      title: 'menu-item',
      url: '/',
      submenu: [
        {
          title: 'menu-item-2',
          url: '/'
        },
        {
          title: 'menu-item-2',
          url: '/'
        },
        {
          title: 'menu-item-2',
          url: '/'
        }
      ]
    },
    {
      title: 'menu-item',
      url: '/',
      submenu: [
        {
          title: 'menu-item-2',
          url: '/'
        },
        {
          title: 'menu-item-2',
          url: '/',
          submenu: [
            {
              title: 'menu-item-3',
              url: '/'
            },
            {
              title: 'menu-item-3',
              url: '/'
            },
            {
              title: 'menu-item-3',
              url: '/'
            }
          ]
        },
        {
          title: 'menu-item-2',
          url: '/'
        }
      ]
    },
    {
      title: 'menu-item',
      url: '/'
    },
    {
      title: 'menu-item',
      url: '/'
    }
  ];

//- Sidebar menu
//- Add more sidebar menu items or submenu if needed
-
  var sidebarMenu = [
    {
      title: 'sidebar-menu-item',
      url: '/'
    },
    {
      title: 'sidebar-menu-item',
      url: '/'
    },
    {
      title: 'sidebar-menu-item',
      url: '/'
    },
    {
      title: 'sidebar-menu-item',
      url: '/'
    },
    {
      title: 'sidebar-menu-item',
      url: '/'
    }
  ];

//- Footer menu
//- Add more footer menu variables or items if needed
-
  var footerMenu = [
    {
      title: 'footer-menu-item',
      url: '/'
    },
    {
      title: 'footer-menu-item',
      url: '/'
    },
    {
      title: 'footer-menu-item',
      url: '/'
    },
    {
      title: 'footer-menu-item',
      url: '/'
    },
    {
      title: 'footer-menu-item',
      url: '/'
    }
  ];
