head
  title Title
  meta(charset='UTF-8')
  meta(name='viewport'
       content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0',
       viewport-fit='cover')
  meta(name='description' content='Enter your description')
  meta(name='keywords' content='Enter your keywords')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap' rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
  link(href='/img/favicon.ico' type='image/x-icon' rel='shortcut icon')

  //- Include custom style
  link(href='css/main.css' type='text/css' rel='stylesheet')

  //- Script
  noscript
    p.no-script-msg You need to enable javascript to use this app correct
